<h3>Add new place</h3>
<form method="POST" action="/places/create">
    <input type="text" name="name" placeholder="name">
<label>Type</label>
 <select name="type" type="text">
    <option value="coffee shop">cofee shop</option>
    <option value="bookstore">bookstore</option>
 </select>

    <input type="submit" name="" id="submit">
</form>
<a href="/">Back to the list</a>