 <h3>Edit restaurant</h3>
<form method="POST" action="/places/{{ places._id}}">
    <input type="text" name="name" placeholder="name">
<label>Type</label>
 <select name="type" type="text">
    <option value="coffee shop">cofee shop</option>
    <option value="bookstore">bookstore</option>
 </select>

    <input type="submit" name="" id="submit">
</form>